includes:
  - phpstan-baseline.neon

parameters:
  level: 10
  paths:
    - .
  excludePaths:
    - backend/includes/phpmailer/*
    - brooksdogtrainingacademy.com_project.sitebuilder/*
    - backup.sitebuilder/*
