parameters:
    level: 9
    paths:
        - backend
        - blog
        - client
        - portal
        - index.php
        - page.php
        - tests
    excludePaths:
        analyse:
            - backend/includes/phpmailer/*
